.Boldhai {
  font-weight:bold;
  font-size:30px;
  font-family: Tahoma;
  margin-bottom:10px;
}
.arial {
  font-weight:bold;
  font-size:30px;
  font-family: Arial;
  margin-bottom:0px;
  margin-top:0px;

}
.red {
  color:rgb(199, 6, 6);
  margin-top:0px;
  font-style:italic;
  margin-bottom:10px;
}
.c1 {
  font-family:Verdana;
  font-weight:bold;
  margin-bottom:2px;
}
.c2 {
  color:rgb(118, 117, 117);
  margin-top:0px;
  margin-bottom:10px;
}
.c3 {
  width:250px;
  font-family:Arial;
}
.c4 {
  background-color:green;
  margin-top:15px;
  color:rgba(255, 251, 251, 0.827);
  border:none;
  padding-top:8px;
  padding-left:12px;
  padding-right:12px;
  padding-bottom:8px;
  cursor:pointer;
   border-radius:6px;
   margin-bottom:10px;
}
.d1 {
  font-family:Arial;
  text-align:center;
  font-size:30px;
  font-weight:bold;
  margin-bottom:10px;
}
.d2 {
  text-align:center;
  margin-top:0px;
  font-family:Arial;
  margin-bottom:10px;
  

}
.d3 {
  text-align:center;
  color:rgb(24, 76, 145);
  font-family:arial;
  margin-bottom:30px;
}
.e1 {
  font-family:arial;
  text-align:center;
  font-size:14px;
  color:rgb(209, 9, 9);
  margin-bottom:7px;

}
.e2 {
  font-family:arial;
  text-align:center;
  margin-top:0px;
  font-weight:bold;
  font-size:22px;
  margin-bottom:0px;
}
.e3 {
  font-family:arial;
  text-align:center;
  margin-top:0px;
  font-weight:bold;
  font-size:34px;
  margin-bottom:7px;
}
.e4 {
  font-family:arial;
  text-align:center;
  margin-top:0px;
  margin-bottom:10px;

}
.e5 {
  font-family:arial;
  margin-top:0px;
  background-color:rgb(40, 107, 231);
  color:white;
  border:none;
  border-radius:16px;
  padding-left:14px;
  padding-right:14px;
  padding-top:6px;
  padding-bottom:6px;
  margin-top:0px;
  
}
.f1 {
  font-size:25px;
  font-family:Arial;
  margin-bottom:4px;

}
.f11{
  font-size:14px;
  color:grey;
  margin-bottom:0px;
}
.f2 {
  margin-top:0px;
  color:green;
  font-size:15px;
  margin-bottom:0px;
}
.f3 {
  color:rgba(114, 107, 107, 0.768);
  margin-top:4px;
  font-size:15px;
  margin-bottom:30px;
}
.f31 {
  color:rgb(214, 8, 8);
  font-size:15px;
}
.g1 {
  font-weight:bold;
  font-family:Arial;
  font-size:16px;
  margin-bottom:10px;

}
.g11 {
  color:rgba(114, 107, 107, 0.768);;
  font-size:13px;
  font-weight:normal;
}
.g2 {
  width:500px;
  font-family:Arial;
  margin-top:0px;
}
.g3 {
  width:500px;
  font-family:Arial;
}
.g33 {
  color:rgb(13, 133, 232);
}
