.pa {
  text-align:center;
  font-size:40px;
  font-family: Montserrat;
  font-weight:bold;
  margin-bottom:10px;

}
.pa2 {
  font-family:Montserrat;
  text-align:center;
  margin-top:0px;
}
.pa21 {
  text-decoration:underline;
}